@import './goods';
@import './products';
@import './subscription';

.main {
	width: 100vw;

    &__container {
        max-width: 1024px;
        margin-left: auto;
        margin-right: auto;
    }
}